<div class="course_container">
    <div class="course_content">
      <% for (let i = 0; i < courses.length; i++) { %>
      <div class="box">
        <img src="/images/c-2.jpg" alt="" />
        <a href="/courses/<%= courses[i].slug %>" class="">
          <img src="/images/link.png" alt="" />
        </a>
        <h5> <%= courses[i].name %> </h5>
        <span><%= courses[i].user.name %></span>
      </div>
      <% } %>
    </div>
  </div>