<%- include('partials/_head') %>

<body class="sub_page">
  <div class="hero_area">
    <%- include('partials/_header') %>
  </div>
  
  <%- include('partials/_contact') %>

  <%- include('partials/_footer') %>